# CMake build
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# Conan output
/conan.lock
/conanbuild.conf
/conaninfo.txt

# IDEs
.vscode/
.idea/
*.user
*.swp

# Binaries
*.exe
*.out
*.o
*.obj

